/* constants section */
:root {
    --dark-1: hsl(40 0% 10%);
    --dark-2: hsl(40 0% 15%);
    --dark-3: hsl(40 0% 20%);
    --dark-4: hsl(40 0% 25%);
    --dark-5: hsl(40 0% 30%);

    --light-1: hsl(40 0% 60%);
    --light-2: hsl(40 0% 70%);
    --light-3: hsl(40 0% 80%);
    --light-4: hsl(40 0% 90%);
    --light-5: hsl(40 0% 100%);

    --red-1: hsl(10 60% 20%);
    --red-2: hsl(10 60% 30%);
    --red-3: hsl(10 60% 40%);
    --red-4: hsl(10 60% 50%);
    --red-5: hsl(10 60% 60%);

    --orange-1: hsl(40 90% 20%);
    --orange-2: hsl(40 90% 30%);
    --orange-3: hsl(40 90% 40%);
    --orange-4: hsl(40 90% 50%);
    --orange-5: hsl(40 90% 60%);

    --yellow-1: hsl(60 90% 20%);
    --yellow-2: hsl(60 90% 30%);
    --yellow-3: hsl(60 90% 40%);
    --yellow-4: hsl(60 90% 50%);
    --yellow-5: hsl(60 90% 60%);

    --green-1: hsl(120 60% 20%);
    --green-2: hsl(120 60% 30%);
    --green-3: hsl(120 60% 40%);
    --green-4: hsl(120 60% 50%);
    --green-5: hsl(120 60% 60%);

    --blue-1: hsl(200 90% 20%);
    --blue-2: hsl(200 90% 30%);
    --blue-3: hsl(200 90% 40%);
    --blue-4: hsl(200 90% 50%);
    --blue-5: hsl(200 90% 60%);

    --purple-1: hsl(270 60% 20%);
    --purple-2: hsl(270 60% 30%);
    --purple-3: hsl(270 60% 40%);
    --purple-4: hsl(270 60% 50%);
    --purple-5: hsl(270 60% 60%);

    --pink-1: hsl(300 60% 20%);
    --pink-2: hsl(300 60% 30%);
    --pink-3: hsl(300 60% 40%);
    --pink-4: hsl(300 60% 50%);
    --pink-5: hsl(300 60% 60%);

    --brown-1: hsl(30, 100%, 20%);
    --brown-2: hsl(30, 100%, 25%);
    --brown-3: hsl(30, 100%, 30%);
    --brown-4: hsl(30, 100%, 35%);
    --brown-5: hsl(30, 100%, 40%);

    --main-font-family: sans-serif;
}

/* common selectors section */
.backgroud-dark-1 { background-color: var(--dark-1); }
.backgroud-dark-2 { background-color: var(--dark-2); }
.backgroud-dark-3 { background-color: var(--dark-3); }
.backgroud-dark-4 { background-color: var(--dark-4); }
.backgroud-dark-5 { background-color: var(--dark-5); }

.backgroud-light-1 { background-color: var(--light-1); }
.backgroud-light-2 { background-color: var(--light-2); }
.backgroud-light-3 { background-color: var(--light-3); }
.backgroud-light-4 { background-color: var(--light-4); }
.backgroud-light-5 { background-color: var(--light-5); }

.backgroud-red-1 { background-color: var(--red-1); }
.backgroud-red-2 { background-color: var(--red-2); }
.backgroud-red-3 { background-color: var(--red-3); }
.backgroud-red-4 { background-color: var(--red-4); }
.backgroud-red-5 { background-color: var(--red-5); }

.backgroud-orange-1 { background-color: var(--orange-1); }
.backgroud-orange-2 { background-color: var(--orange-2); }
.backgroud-orange-3 { background-color: var(--orange-3); }
.backgroud-orange-4 { background-color: var(--orange-4); }
.backgroud-orange-5 { background-color: var(--orange-5); }

.backgroud-yellow-1 { background-color: var(--yellow-1); }
.backgroud-yellow-2 { background-color: var(--yellow-2); }
.backgroud-yellow-3 { background-color: var(--yellow-3); }
.backgroud-yellow-4 { background-color: var(--yellow-4); }
.backgroud-yellow-5 { background-color: var(--yellow-5); }

.backgroud-green-1 { background-color: var(--green-1); }
.backgroud-green-2 { background-color: var(--green-2); }
.backgroud-green-3 { background-color: var(--green-3); }
.backgroud-green-4 { background-color: var(--green-4); }
.backgroud-green-5 { background-color: var(--green-5); }

.backgroud-blue-1 { background-color: var(--blue-1); }
.backgroud-blue-2 { background-color: var(--blue-2); }
.backgroud-blue-3 { background-color: var(--blue-3); }
.backgroud-blue-4 { background-color: var(--blue-4); }
.backgroud-blue-5 { background-color: var(--blue-5); }

.backgroud-purple-1 { background-color: var(--purple-1); }
.backgroud-purple-2 { background-color: var(--purple-2); }
.backgroud-purple-3 { background-color: var(--purple-3); }
.backgroud-purple-4 { background-color: var(--purple-4); }
.backgroud-purple-5 { background-color: var(--purple-5); }

.backgroud-pink-1 { background-color: var(--pink-1); }
.backgroud-pink-2 { background-color: var(--pink-2); }
.backgroud-pink-3 { background-color: var(--pink-3); }
.backgroud-pink-4 { background-color: var(--pink-4); }
.backgroud-pink-5 { background-color: var(--pink-5); }

.backgroud-brown-1 { background-color: var(--brown-1); }
.backgroud-brown-2 { background-color: var(--brown-2); }
.backgroud-brown-3 { background-color: var(--brown-3); }
.backgroud-brown-4 { background-color: var(--brown-4); }
.backgroud-brown-5 { background-color: var(--brown-5); }

.text-color-dark-1 { color: var(--dark-1); }
.text-color-dark-2 { color: var(--dark-2); }
.text-color-dark-3 { color: var(--dark-3); }
.text-color-dark-4 { color: var(--dark-4); }
.text-color-dark-5 { color: var(--dark-5); }

.text-color-red-1 { color: var(--red-1); }
.text-color-red-2 { color: var(--red-2); }
.text-color-red-3 { color: var(--red-3); }
.text-color-red-4 { color: var(--red-4); }
.text-color-red-5 { color: var(--red-5); }

.text-color-orange-1 { color: var(--orange-1); }
.text-color-orange-2 { color: var(--orange-2); }
.text-color-orange-3 { color: var(--orange-3); }
.text-color-orange-4 { color: var(--orange-4); }
.text-color-orange-5 { color: var(--orange-5); }

.text-color-yellow-1 { color: var(--yellow-1); }
.text-color-yellow-2 { color: var(--yellow-2); }
.text-color-yellow-3 { color: var(--yellow-3); }
.text-color-yellow-4 { color: var(--yellow-4); }
.text-color-yellow-5 { color: var(--yellow-5); }

.text-color-green-1 { color: var(--green-1); }
.text-color-green-2 { color: var(--green-2); }
.text-color-green-3 { color: var(--green-3); }
.text-color-green-4 { color: var(--green-4); }
.text-color-green-5 { color: var(--green-5); }

.text-color-purple-1 { color: var(--purple-1); }
.text-color-purple-2 { color: var(--purple-2); }
.text-color-purple-3 { color: var(--purple-3); }
.text-color-purple-4 { color: var(--purple-4); }
.text-color-purple-5 { color: var(--purple-5); }

.text-color-brown-1 { color: var(--brown-1); }
.text-color-brown-2 { color: var(--brown-2); }
.text-color-brown-3 { color: var(--brown-3); }
.text-color-brown-4 { color: var(--brown-4); }
.text-color-brown-5 { color: var(--brown-5); }
/* concrete elements section */
body {
    background-color: var(--dark-1);
    color: var(--light-3);
    font-family: var(--main-font-family);
    font-size: 1em;
    padding: 0em;
    margin: 0em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
    margin: .1em;
}

#search-section {
    padding: 1em;
}

.text-input {
    flex: 1 1 auto;
    width: 1%;
}

.button {
    text-decoration: none;
    font-size: 1em;
    padding: .25em .5em;
    background-color: var(--dark-3);
    border: 1px solid transparent;
    color: var(--light-3);
    border-radius: .5em;
}

#search-section form {
    display: flex;
}

#search-section .button {
    position: relative;
} 

#bookmarks-categories-container {
    height: fit-content;
}

.grid-container {
    display: inline-grid;
    box-sizing: border-box;
    width: 100%;
    grid-gap: .5em;
    padding: .5em
}

.grid-item {
    padding: 1em;
    text-align: center;
    background-color: var(--dark-3);
    text-decoration: none;
    color: var(--light-3);
    border-radius: .5em;
}

.grid-item:hover {
    background-color: var(--dark-4);
}

.grid-item:active {
    background-color: var(--dark-2);
}

.badge {
    display: inline-block;
    font-size: 0.8em;
    padding: .1em .3em .1em .3em;
    border-radius: .2em;
    min-width: 1em;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container .container-header {
    padding: .5em;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
}

.flex-container .container-header h1 {
    margin: .5em;
}

.cards-container {
    padding: 0em;
    box-sizing: border-box;
    width: 100%;
}

.container-header a {
    text-decoration: none;
    color: var(--light-3);
}

.card-wrapper {
    width: 100%;
    padding: .25em;
    box-sizing: border-box;
}

.card {
    float: left;
    background-color: var(--dark-3);
    margin: 0em;
    border: 1px solid var(--dark-5);
    border-radius: .25em;
    box-sizing: border-box;
    width: 100%;
}

.card-header {
    border-bottom: 1px solid var(--dark-5);
    padding: .75em;
    background-color: var(--dark-5);
}

.card a {
    display: block;
    padding: .5em;
    border-color: var(--dark-5);
    border-width: 0 0 1px 0;
    border-style: solid;
    text-decoration: none;
    color: var(--light-3);
}

.card a:last-child {
    border-bottom-width: 0;
}

.card a:hover {
    background-color: var(--dark-4);
}

.card a:active {
    background-color: var(--dark-2);
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .card-wrapper {
        width: 33.3333%;
    }
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .card-wrapper {
        width: 33.3333%;
    }
} 

@media only screen and (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .card-wrapper {
        width: 25%;
    }
}

@media only screen and (min-width: 1500px) {
    .grid-container {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    .flex-container {
        flex-direction: row;
    }

    .flex-container .container-header {
        writing-mode: vertical-rl;
    }

    .card-wrapper {
        width: 16.6667%;
    }
}