h1, h2 {
    font-weight: 900;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
    margin: .1em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.name {
    flex-grow: 2;
}

.contact-info {
    flex-grow: 2;
    text-align: right;
}

.skill-item-container {
    flex: 50%;
}